<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Produtos</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <div class="container">
        <h1>Produtos Cadastrados</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Disponível</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto['nome'] }}</td>
                    <td>R$ {{ produto['valor'] }}</td>
                    <td>{{ 'Sim' if produto['disponivel'] else 'Não' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn" onclick="window.location.href='/cadastrar'">Cadastrar Novo Produto</button>
    </div>
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
